#title {
    font-size: 100px;
    text-align: center;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 10px;
    padding-bottom: 10px;
}

body {
    margin: 0;
    padding: 0;
}

#weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 75vw;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (width: 1200px) {
    #weather {
        flex-direction: column;
        align-items: center;
    }
}

#search {
    padding: 5px;
}


#search, #map, #weather, #footer {
    width: 75vw;
    margin: 0 auto;
    box-sizing: border-box;
}