#title {
    font-size: 100px;
    text-align: center;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

body {
    margin: 0;
    padding: 0;
}

#weather {
    display: flex;
    padding: 30px;
    gap: 10px;
}

#window {
    border: solid;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    width: 8vw;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

#window p {
    margin: 5px 0;
}

#footer {
    border: solid;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

#footer p {
    margin: 5px 0;
}

#search {
    padding: 5px;
}
