#title {
    font-size: 100px;
    text-align: center;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

body {
    margin: 0;
    padding: 0;
}

#weather {
    display: flex;
    padding: 30px;
    gap: 10px;
}


#search {
    padding: 5px;
}
