.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    text-align: center;
    width: 150px;
    max-width: 300px;
    transition: all 0.3s ease;
}

.icon {
    display: flex;
    justify-content: center;
}

.info p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 95%;
        max-width: 400px;
        margin: 0 auto;
        text-align: left;
        transition: all 0.3s ease;
    }

    .icon {
        flex: 0 0 auto;
        margin-right: 20px;
    }

    .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}